*{padding:0;margin:0;}
body{background:mediumslateblue;}
.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}
ul{list-style: none;}
.fl{float:left;}
.fr{float:right;}
.container .nomarginleft{margin-left: 0;}
.container .marginbottom10{margin-bottom: 10px;}
.container .marginbottom30{margin-bottom: 30px;}
.container .marginleft4{margin-left: 4px;}

.btn.width120{width: 120px;}
.btn.marginbottom10{margin-bottom: 10px;}

.container{width:580px;margin:10px auto;position: relative;}
.role{height:120px;width:100px;background:orchid;margin-left: 20px;position: relative;}
.rolename{position: absolute;top:0;right:0;width:20px;height:20px;
    background:cornflowerblue;color:#fff;line-height: 20px;text-align: center;}
.role8{position: absolute;top: 130px;left: -20px;}
.info{margin-left: 120px;font-size: 12px;line-height: 14px;height: 120px;color: #fffccc;position: relative;overflow: hidden;}
.content{position: absolute;top: 0;left: 0;width: 100%;}
.info_right .content{top: -378px;}
.info_left_ctr{position: absolute;top: 0;left: -190px;width: 170px;height: 100%;background: orange;}
.info_right_ctr{position: absolute;top: 0;right: -190px;width: 170px;height: 100%;background: orange;}
.info_left{position: absolute;top: 10px;left: 5px;width: 160px;height: 378px;overflow: hidden;font-size: 12px;line-height: 14px;color: #fffccc;}
.info_right{position: absolute;top: 10px;left: 5px;width: 160px;height: 378px;overflow: hidden;font-size: 12px;line-height: 14px;color: #fffccc;}

.sc{width:60px;height:40px;line-height: 40px;text-align: center;
background: #ff85ea;color:#fff;border-radius: 4px;cursor:pointer;
    position:absolute;top:0px;left:84px;z-index: 2;}
.role.active{height: 116px;width:96px;border:2px solid #772299;border-radius: 6px;}

.myzone{position:relative;}
.btns{height: 24px;padding: 3px 0;background: olive;position: absolute;
    top: -30px;left:0px;width:480px;}
.btn{height: 24px;line-height: 24px;width:60px;text-align: center;color: #fff;
background: green;cursor: pointer;}
.btn.disable{background: rgb(162, 151, 151);cursor: default;}
.zhuangbei{float: left;width:100px;background: orange;height:120px;}
.paiqu{float: left;width:380px;height:120px;background: limegreen;}

.status{width: 50px;float: left;}
.lebusishu,.bingliangcunduan,.shandian,.mabi,.jinyan,.fanpai{color: green;font-size: 12px;float: left;width: 16px;height: 16px;display: none;}
