*{padding:0;margin:0;}
body{background:mediumslateblue;font-family: "微软雅黑"}
.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}
ul{list-style: none;}
.fl{float:left;}
.fr{float:right;}
.hid{display: none;}
.container .nomarginleft{margin-left: 0;}
.container .marginbottom10{margin-bottom: 10px;}
.container .marginbottom30{margin-bottom: 30px;}
.container .marginleft4{margin-left: 4px;}

.btn.width120{width: 120px;}
.btn.marginleft10{margin-left: 10px;}
.btn.marginbottom10{margin-bottom: 10px;}

.container{width:600px;margin:130px auto;position: relative;}
.seat{height:116px;width:100px;border: 2px solid rgba(6, 32, 8, 0.35);background:orchid;margin-left: 20px;position: relative;overflow: hidden;}
.seat.me{overflow: visible;}
.can_attack{border: 2px solid #ff9900;}
.attack_selected{border: 2px solid #ff3400;}

.bg2{position: absolute;top: 0px;left: 0px;height: 100%;}
.me .bg2{width: 100px;}
.bloodzone{position: absolute;top:20px;right: 1px;z-index: 3;height: 80px;}
.bloodul > li{height: 16px;position: relative;}
.bloodmax{position: absolute;top: 0px;left: 0px;width: 16px;text-align: center;font-size: 12px;color: rgb(231, 248, 255);z-index: 4;}
.bloodcur{position: absolute;bottom: 0px;left: 0px;width: 16px;text-align: center;font-size: 12px;color: rgb(231, 248, 255);}
.bloodul > li img{width: 16px;}
.rolename{position: absolute;top:0;right:0;width:20px;height:20px;
    background:cornflowerblue;color:#fff;line-height: 20px;text-align: center;}
.seat8{position: absolute;top: 130px;left: -20px;}
.log{margin-left: 120px;font-size: 12px;line-height: 14px;height: 120px;color: #fffccc;position: relative;overflow: hidden;}
#xianyin{position: absolute;top: 0px;right: 0px;width: 20px;height: 20px;border-radius: 50%;line-height: 20px;text-align: center;background: #fff;color: red;font-size: 12px;cursor: pointer;z-index: 2;}
#leave_pai_num{position: absolute;bottom: 4px;right: -33px;width: 30px;text-align: center;height: 18px;line-height: 18px;color: #fff;}
.content{position: absolute;top: 0;left: 0;width: 100%;}
.log_right .content{top: -378px;}
.log_left_ctr{position: absolute;top: 0;left: -190px;width: 170px;height: 100%;background: orange;display: none;}
.log_right_ctr{position: absolute;top: 0;right: -190px;width: 170px;height: 100%;background: orange;display: none;}
.log_left{position: absolute;top: 10px;left: 5px;width: 160px;height: 378px;overflow: hidden;font-size: 12px;line-height: 14px;color: #fffccc;}
.log_right{position: absolute;top: 10px;left: 5px;width: 160px;height: 378px;overflow: hidden;font-size: 12px;line-height: 14px;color: #fffccc;}
.computer{position: absolute;top: -145px;left: 102px;width: 392px;}
.chose_heros{position: absolute;top: 50%;left: 50%;width: 200px;height: 100px;margin-left: -100px;margin-top: -64px;background: #e3be63;display: none;}
.chose_heros table{height: 100%;width: 100%;border-right: 1px solid #e07d09;border-bottom: 1px solid #e07d09;}
.chose_heros table td{border-left: 1px solid #e07d09;border-top: 1px solid #e07d09;text-align: center;color: blue;font-size: 14px;width: 33%;cursor: pointer;}
.chose_heros table td.active{background: #602a02;}

.sc{width:60px;height:40px;line-height: 40px;text-align: center;
background: #ff85ea;color:#fff;border-radius: 4px;cursor:pointer;
    position:absolute;top:0px;left:84px;z-index: 2;}
.seat.active{height: 116px;width:100px;border:2px solid #E4E11A;}

.myzone{position:relative;}
.btns{height: 24px;padding: 3px 0;background: olive;position: absolute;
    top: -30px;left:0px;width:496px;}
.btn3{display: none;}
.btn{height: 24px;line-height: 24px;width:60px;text-align: center;color: #fff;
background: green;cursor: pointer;}
.btn.disable{background: rgb(162, 151, 151);cursor: default;}

.c_btns{position: absolute;bottom: 0px; right: -63px;}

.zhuangbei{color: rgb(105, 249, 46);}
.seat .zhuangbei{position: absolute;top:56px;left: 0px;height: 60px;width: 100%;z-index: 2;}
.seat .zhuangbei.myzb{top: -2px;left: -497px;height:120px;width: 100%;background: #7c7c7c;}

.zhuangbei.zbzone li{font-size: 12px;line-height: 15px;padding-left: 16px;}
.myzbzone{position: absolute;left: 0;bottom: 0;width: 100%;}
.zhuangbei.myzb li{font-size: 12px;}
.huase_zb img{height: 10px;}
.dots_zb{margin-left: -2px;}
.shecheng_zb{margin-left: -1px;}
.shecheng_zb.ma{margin-left: -4px;}
.vaiqu{position: absolute;top: 0px;left: 0px;z-index: 4;}
.vaiqu img{height: 60px;}
.aiquul{position: relative;z-index: 3;}
.bg1{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: black;opacity: .7;}
.bg3{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: black;opacity: 0;z-index: 4;}

.card_num{position: absolute;bottom: 0;right: 0;height: 14px;width: 16px;font-size: 12px;color: #fff;background: mediumslateblue;line-height: 14px;text-align: center;z-index: 4;}

.paiqu{float: right;width:396px;height:120px;background: limegreen;}
.cards{margin: 29px 20px 0 20px;overflow: hidden;}
.log .cards{margin: 0 20px 0 20px;}
.cardul{position: relative;width: 1200px;height: 87px;padding-top: 10px;}
.cardul > li{border: 1px solid #884499;}
.floatul > li{float: left;}
.absoluteul > li{position: absolute;}
.ready_to_out{top: 0;}
.card_disable .bg3{opacity: .5;}
.card{height: 85px;width: 57px;position: relative;background: rgb(205, 205, 82);}
.red_card{background: rgba(255,0,0,0.8);}
.black_card{background: #7c7c7c;}
.card.now{opacity: .92;}
.huase_show{position: absolute;top: 0px;left: 4px;width: 12px;}
.huase_show img{width: 12px;}
.dots_show{position: absolute;top: 15px;left: 4px;width: 12px;height: 12px;line-height: 12px;text-align: center;font-size: 12px;font-weight: bold;}
.dots_show.red_txt{color: red;}
.dots_show.black_txt{color: black;}
.name{position: absolute;top: 27px;left: 4px;line-height: 13px;width: 14px;font-size: 12px;color: #fff;text-align: center;}
.user{position: absolute;top: 4px;right: 3px;line-height: 20px;background: rgb(162, 151, 151);text-align: center;font-size: 12px;color: #fff;}
.status{width: 50px;float: left;}
.lebusishu,.bingliangcunduan,.shandian,.mabi,.jinyan,.fanpai{color: green;font-size: 12px;float: left;width: 16px;height: 16px;display: none;}

.bg{background: url(../img/card.gif);height: 46px;width: 35px;position: absolute;bottom: 10px;right: 3px;}
.c0{background-position: -313px -843px;}

.c232{background-position: -15px -24px;}/*八卦阵*/
.c262{background-position: -68px -24px;}/*雌雄双股剑*/
.c269{background-position: -122px -24px;}/*方天画戟*/
.c266{background-position: -175px -24px;}/*贯石斧*/
.c265{background-position: -228px -24px;}/*古锭刀*/
.c264{background-position: -282px -24px;}/*寒冰剑*/
.c235{background-position: -335px -24px;}/*黄金铠*/
.c273{background-position: -388px -24px;}/*金火罐炮*/
.c261{background-position: -441px -24px;}/*诸葛连弩*/

.c276{background-position: -15px -99px;}/*李广之弓*/
.c275{background-position: -68px -99px;}/*流星锤*/
.c274{background-position: -122px -99px;}/*吕布之弓*/
.c271{background-position: -175px -99px;}/*麒麟弓*/
.c263{background-position: -228px -99px;}/*青红剑*/
.c267{background-position: -282px -99px;}/*青龙偃月刀*/
.c233{background-position: -335px -99px;}/*仁王盾*/
.c231{background-position: -388px -99px;}/*白银狮子*/
.c234{background-position: -441px -99px;}/*藤甲*/

.c270{background-position: -15px -173px;}/*朱雀羽扇*/
.c272{background-position: -68px -173px;}/*玉玺*/
.c268{background-position: -122px -173px;}/*丈八蛇矛*/
.c11{background-position: -175px -173px;}/*火杀*/
.c4{background-position: -228px -173px;}/*酒*/
.c12{background-position: -282px -173px;}/*雷杀*/
.c1{background-position: -335px -173px;}/*杀*/
.c2{background-position: -388px -173px;}/*闪*/
.c3{background-position: -441px -173px;}/*桃*/

.c20{background-position: -15px -249px;}/*兵粮寸断*/
.c5{background-position: -68px -249px;}/*过河拆桥*/
.c17{background-position: -122px -249px;}/*火攻*/
.c9{background-position: -175px -249px;}/*借刀杀人*/
.c8{background-position: -228px -249px;}/*决斗*/
.c19{background-position: -282px -249px;}/*乐不思蜀*/
.c14{background-position: -335px -249px;}/*南蛮入侵*/
.c21{background-position: -388px -249px;}/*闪电*/
.c6{background-position: -441px -249px;}/*顺手牵羊*/

.c10{background-position: -15px -324px;}/*桃园结义*/
.c18{background-position: -68px -324px;}/*铁索连环*/
.c15{background-position: -122px -324px;}/*万箭齐发*/
.c13{background-position: -175px -324px;}/*五谷丰登*/
.c16{background-position: -228px -324px;}/*无懈可击*/
.c7{background-position: -282px -324px;}/*无中生有*/
.c251{background-position: -335px -324px;}/*赤兔*/
.c252{background-position: -388px -324px;}/*大宛马*/
.c242{background-position: -441px -324px;}/*的卢*/

.c244{background-position: -15px -399px;}/*骅骝*/
.c241{background-position: -68px -399px;}/*绝影*/
.c243{background-position: -122px -399px;}/*爪黄飞电*/
.c253{background-position: -175px -399px;}/*紫驹*/
/*img_code:1杀 11火杀 12雷杀 2闪 3桃 4酒 5过河拆桥 6顺手牵羊 7无中生有 8决斗 9借刀杀人 10桃园结义 13五谷丰登 14南蛮入侵 15万箭齐发 16无懈可击 17火攻 18铁索连环 19乐不思蜀 20兵粮寸断 21闪电 26武器 23防具 24进攻马 25防守马 231白银狮子 232八卦阵 233仁王盾 234藤甲 235黄金甲 241绝影 242的卢 243爪黄飞电 244骅骝 251赤兔 252大宛 253紫驹 261诸葛连弩 262雌雄双股剑 263青红剑 264寒冰剑 265古锭刀 266贯石斧 267青龙偃月刀 268丈八蛇矛 269方天画戟 270朱雀羽扇 271麒麟弓 272玉玺 273金火罐炮 274吕布之弓 275流星锤 276李广之弓 */